name: Build and release repo-smith to PyPi

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write
  pull-requests: write
  packages: read
  issues: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: action/checkout@v3

      - name: Setup Python
        uses: action/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build binary
        run: |
          echo "__version__ = \"${GITHUB_REF_NAME}\"" > src/repo_smith/version.py
          python -m build

      - name: Publish
        run: |
          python -m twine upload --skip-existing --verbose dist/*
